$colors: 'primary' $primary, 'success' $success, 'danger' $danger, 'dark' $dark;


//soli buttons
// Placeholder uso del %
%btn {
    height: 40px;
    min-width: 100px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 5px 0;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
    &:hover{
        cursor: pointer;
    }
}

.#{$brand}-btn-{
    &primary, &success, &danger {
        @extend %btn;
    }
    &primary {
        background: $primary;
    }

    &success {
        background: $success;
    }
    &danger {
        background: $danger;
    }
}


// @mixin button ($name, $color){
//     .#{$brand}-btn-outline-#{$name}{
//         border: 1px solid $color;
//         color: $color;
//         &:hover {
//             background: $color;
//             color: #fff;
//         }
//     }
// }
@mixin button ($name, $color){
    &-#{$name} {
        border: 1px solid $color;
        color: $color;
        &:hover {
            //manejar el color
            //mix combinar colores
            //background: mix($color, #292727);
            //escala de color
            //background: scale-color($color:$color, $saturation: 50% ,$lightness: 10%);
            //lighten (aclarar)
            // background: lighten($color:$color, $amount: 20);
            //Darken (oscureser)
            // background: darken($color:$color, $amount: 20);
            //darle opacidad
            background: rgba($color, 0.5);
            color: #fff;
        }
    }
}

// Outline buttons
.#{$brand}-btn-outline {
    background: none;
    height: 40px;
    min-width: 100px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px 0;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s all ease-in-out;

    // &-primary{
    //     border: 1px solid $primary;
    //     color: $primary;
    //     &:hover{
    //         background: $primary;
    //         color: #fff;
    //     }
    // }
    // &-success{
    //     border: 1px solid $success;
    //     color: $success;
    //     &:hover{
    //         background: $success;
    //         color: #fff;
    //     }
    // }
    // &-danger{
    //     border: 1px solid $danger;
    //     color: $danger;
    //     &:hover{
    //         background: $danger;
    //         color: #fff;
    //     }
    // }


    //Agregar los colores desde la lista de colores
    @each $name, $color in $colors {
        @include button($name, $color);
    }
    // @include button('success', nth($colors, 2));
    // @include button('danger',  nth($colors, 3));
    // @include button('dark',  nth($colors, 4));
}

// @include button('primary', $primary);
// @include button('success', $success);
// @include button('danger',  $danger);

//sizes

@mixin size ($h, $w, $p, $m, $bg){
   
    height: $h;
    width: $w;
    padding: $p;
    margin: $m;
    background: $bg;
    
}

.im{
    &-container {
        @include size(200px, 200px , 1rem, 1rem, red );
        &-big {
            @include size(700px, 700px , 1rem, 1rem, blue );
        }
    }
}