@import url(../obstracts/_variables.scss);


.#{$brand}-card{
    width: 250px;
    padding: 0;
    border: {
        radius: 5px;
        width: 1px;
        style: solid;
        //traer el color desde el map
        color: map-get($map: $palette, $key: 'secundary');
    };

    img {
        width: 100%;
        height: 150px;
        display: block;
    }
    &__body{
        height: 50px;
        text-align: center;
        //traer el color desde el map
        background: map-get($map: $palette, $key: 'primary');
        line-height: 50px;
    }
    h1 {
        height: 50px;
        line-height: 50px;
        margin: 0;
    }
}

@function scale($val, $max, $ratio: 1.5) {
    @while $val > $max {
        $val: calc($val / $ratio);
    }

    @return $val;
}

.main-card {
    height: 250px;
    width: scale(250px, 230px, 1.25);
    background: rgba(0,0,0,0.25);
}