$primary: #dc9c10;
$secundary: #35bab5;
$success: #40ba35;
$danger: rgb(231,47,56);
$dark: #000;
$dark_opacity: rgba($dark, 0.4);
$font-size: 1.75rem;
$brand: 'cdc';

//maps
$palette: (
    'primary':  #dc9c10,
    'secundary': #35bab5,
    'success': #40ba35,
    'danger': rgb(231,47,56),
    'dark': #000,
    'dark_opacity': rgba($dark, 0.4),
    'blue': rgb(14, 14, 229),
    'orange': rgb(255, 85, 0),
    'light': #fff
);

// $titles: 16,20,24,32; //esta es una forma
// esta es otra forma
// $titles: (
//     'xs': 16px,
//     'md': 20px,
//     'lg': 24px,
//     'xl': 34px
// )

$titles: 'xs' 16px 400, 'md' 20px 500, 'lg' 24px 600, 'xl' 34px 900;

$ncols: 12;

$breakpoints: (
    'xs': 0,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px,
    'xxl': 1400px
);
